# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 12.10
EXPERIMENT-NAME qualnet
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 30S
SEED 1
GUI-CONFIG-LOCKED NO

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
WEATHER-MOBILITY-INTERVAL 10S

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-NAME[0] channel0
PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS NO
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
DHCP-STATISTICS NO
DNS-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE switchlan.app

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#*******************VR-Link Interface***********************************

VRLINK NO

#***********************DIS Interface***********************************

DIS NO

#***********************HLA Interface***********************************

HLA NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNELS channel0
PHY-LISTENING-CHANNELS channel0
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0

#***********************BGP Router-Id***********************************

BGP-ENABLE-ROUTER-ID NO
BGP-ENABLE-ROUTER-ID_IPv6 YES
BGP ROUTER-ID 127.0.0.1

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO

#********* [Default Wireless Subnet] ***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 7 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 12, 31 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 21 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 6 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 22 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 8 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 18 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 15 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 5 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 31, 29 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 24 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 14 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 3 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 17 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 10 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 28 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 27 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 26 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 11 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 4 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 1 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 16 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 23 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 9 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 19 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 20 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 30 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 25 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 13 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 33, 2 }

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 32, 34 }

#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 34, 33 }

#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 34, 31 }

#*************Interface Configuration***********************************

[1] IP-ADDRESS[0]             190.0.2.2

[2] IP-ADDRESS[0]             190.0.2.20

[3] IP-ADDRESS[0]             190.0.3.6

[4] IP-ADDRESS[0]             190.0.3.20

[5] IP-ADDRESS[0]             190.0.1.18

[6] IP-ADDRESS[0]             190.0.1.8

[7] IP-ADDRESS[0]             190.0.1.2

[8] IP-ADDRESS[0]             190.0.1.12

[9] IP-ADDRESS[0]             190.0.2.8

[10] IP-ADDRESS[0]            190.0.3.10

[11] IP-ADDRESS[0]            190.0.3.18

[12] IP-ADDRESS[0]            190.0.1.3

[13] IP-ADDRESS[0]            190.0.2.18

[14] IP-ADDRESS[0]            190.0.3.4

[15] IP-ADDRESS[0]            190.0.1.16

[16] IP-ADDRESS[0]            190.0.2.4

[17] IP-ADDRESS[0]            190.0.3.8

[18] IP-ADDRESS[0]            190.0.1.14

[19] IP-ADDRESS[0]            190.0.2.10

[20] IP-ADDRESS[0]            190.0.2.12

[21] IP-ADDRESS[0]            190.0.1.6

[22] IP-ADDRESS[0]            190.0.1.10

[23] IP-ADDRESS[0]            190.0.2.6

[24] IP-ADDRESS[0]            190.0.3.2

[25] IP-ADDRESS[0]            190.0.2.16

[26] IP-ADDRESS[0]            190.0.3.16

[27] IP-ADDRESS[0]            190.0.3.14

[28] IP-ADDRESS[0]            190.0.3.12

[29] IP-ADDRESS[0]            190.0.1.20

[30] IP-ADDRESS[0]            190.0.2.14

[34] IP-ADDRESS[0]            190.0.3.22

[34] IP-ADDRESS[1]            190.0.2.21

[34] IP-ADDRESS[2]            190.0.1.41

[32] IP-ADDRESS[0]            190.0.3.1

[32] IP-ADDRESS[1]            190.0.3.3

[32] IP-ADDRESS[2]            190.0.3.5

[32] IP-ADDRESS[3]            190.0.3.7

[32] IP-ADDRESS[4]            190.0.3.9

[32] IP-ADDRESS[5]            190.0.3.11

[32] IP-ADDRESS[6]            190.0.3.13

[32] IP-ADDRESS[7]            190.0.3.15

[32] IP-ADDRESS[8]            190.0.3.17

[32] IP-ADDRESS[9]            190.0.3.19

[32] IP-ADDRESS[10]           190.0.3.21

[33] IP-ADDRESS[0]            190.0.2.1

[33] IP-ADDRESS[1]            190.0.2.3

[33] IP-ADDRESS[2]            190.0.2.5

[33] IP-ADDRESS[3]            190.0.2.7

[33] IP-ADDRESS[4]            190.0.2.9

[33] IP-ADDRESS[5]            190.0.2.11

[33] IP-ADDRESS[6]            190.0.2.13

[33] IP-ADDRESS[7]            190.0.2.15

[33] IP-ADDRESS[8]            190.0.2.17

[33] IP-ADDRESS[9]            190.0.2.19

[33] IP-ADDRESS[10]           190.0.2.22

[31] IP-ADDRESS[0]            190.0.1.1

[31] IP-ADDRESS[1]            190.0.1.4

[31] IP-ADDRESS[2]            190.0.1.5

[31] IP-ADDRESS[3]            190.0.1.7

[31] IP-ADDRESS[4]            190.0.1.9

[31] IP-ADDRESS[5]            190.0.1.11

[31] IP-ADDRESS[6]            190.0.1.13

[31] IP-ADDRESS[7]            190.0.1.15

[31] IP-ADDRESS[8]            190.0.1.17

[31] IP-ADDRESS[9]            190.0.1.19

[31] IP-ADDRESS[10]           190.0.1.42



#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[34]            ROUTER-MODEL CISCO-806
[1]             HOSTNAME host1
[2]             HOSTNAME host2
[3]             HOSTNAME host3
[4]             HOSTNAME host4
[5]             HOSTNAME host5
[6]             HOSTNAME host6
[7]             HOSTNAME host7
[8]             HOSTNAME host8
[9]             HOSTNAME host9
[10]            HOSTNAME host10
[11]            HOSTNAME host11
[12]            HOSTNAME host12
[13]            HOSTNAME host13
[14]            HOSTNAME host14
[15]            HOSTNAME host15
[16]            HOSTNAME host16
[17]            HOSTNAME host17
[18]            HOSTNAME host18
[19]            HOSTNAME host19
[20]            HOSTNAME host20
[21]            HOSTNAME host21
[22]            HOSTNAME host22
[23]            HOSTNAME host23
[24]            HOSTNAME host24
[25]            HOSTNAME host25
[26]            HOSTNAME host26
[27]            HOSTNAME host27
[28]            HOSTNAME host28
[29]            HOSTNAME host29
[30]            HOSTNAME host30
[34]            HOSTNAME host34
[34]            DUMMY-ROUTER-TYPE PREDEFINED
[34]            GUI-NODE-2D-ICON C:/Scalable/qualnet/7.1/gui/icons/devices/content_router.png
[1 thru 30]     NODE-PLACEMENT FILE
[34]            NODE-PLACEMENT FILE
[31]            SWITCH-PORT-MAP[2] 190.0.1.4
[32]            SWITCH-PORT-MAP[2] 190.0.3.3
[33]            SWITCH-PORT-MAP[2] 190.0.2.3
[31]            SWITCH-PORT-MAP[1] 190.0.1.1
[32]            SWITCH-PORT-MAP[1] 190.0.3.1
[33]            SWITCH-PORT-MAP[1] 190.0.2.1
[31 thru 33]    SWITCH YES
[31]            SWITCH-PORT-MAP[8] 190.0.1.15
[32]            SWITCH-PORT-MAP[8] 190.0.3.15
[33]            SWITCH-PORT-MAP[8] 190.0.2.15
[31]            SWITCH-PORT-MAP[7] 190.0.1.13
[32]            SWITCH-PORT-MAP[7] 190.0.3.13
[33]            SWITCH-PORT-MAP[7] 190.0.2.13
[31]            SWITCH-PORT-MAP[9] 190.0.1.17
[32]            SWITCH-PORT-MAP[9] 190.0.3.17
[33]            SWITCH-PORT-MAP[9] 190.0.2.17
[31]            SWITCH-PORT-MAP[11] 190.0.1.42
[32]            SWITCH-PORT-MAP[11] 190.0.3.21
[33]            SWITCH-PORT-MAP[11] 190.0.2.22
[31]            SWITCH-PORT-MAP[4] 190.0.1.7
[32]            SWITCH-PORT-MAP[4] 190.0.3.7
[33]            SWITCH-PORT-MAP[4] 190.0.2.7
[31]            SWITCH-PORT-MAP[10] 190.0.1.19
[32]            SWITCH-PORT-MAP[10] 190.0.3.19
[33]            SWITCH-PORT-MAP[10] 190.0.2.19
[31]            HOSTNAME host31
[32]            HOSTNAME host32
[33]            HOSTNAME host33
[31]            SWITCH-PORT-MAP[3] 190.0.1.5
[32]            SWITCH-PORT-MAP[3] 190.0.3.5
[33]            SWITCH-PORT-MAP[3] 190.0.2.5
[31]            SWITCH-PORT-MAP[6] 190.0.1.11
[32]            SWITCH-PORT-MAP[6] 190.0.3.11
[33]            SWITCH-PORT-MAP[6] 190.0.2.11
[31]            SWITCH-PORT-MAP[5] 190.0.1.9
[32]            SWITCH-PORT-MAP[5] 190.0.3.9
[33]            SWITCH-PORT-MAP[5] 190.0.2.9
[31 thru 33]    NODE-PLACEMENT FILE
NODE-POSITION-FILE switchlan.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE switchlan.display

